<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="trending-lists">
        <% for(let anime of animes){ %>
        <div class="anime-card">
          <img src="<%= anime.images.jpg.image_url %>" class="card-img" />
          <h3 class="card-title"><%= anime.title %></h3>
          <p class="card-rating"><%= anime.score %>/10</p>
          <p class="card-genre"><%= anime.genres.map(g=>g.name).join(',') %></p>
          <button class="card-button">
            <i class="fa-regular fa-heart"></i>
          </button>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
